.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20;
}
.block_spinner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.block_main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}