.background{
 margin: 0 auto;
 padding: 100px;
 width: 600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 5%;
}
.background:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.5);
}


